body {
  font-family: Arial, sans-serif;
  background-color: #e0e7ff; /* bluish background */
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff; /* white background */
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
/* Navbar styling */
header {
  background-color: #3498db; /* bluish background */
  padding: 10px 20px;
    display: flex;
    align-items: center; 
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: flex;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff; /* white text */
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #2980b9; /* slightly darker bluish background on hover */
}
.active {
  margin-left: 50px;
  font-weight: bold;
  box-shadow: 0 3px 20px #2980b9(2, 05, 20, 09);
  border-radius: 80%;
}


h1 {
  text-align: center;
  color: #2c3e50; /* dark bluish color */
}

.account {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #cccccc; /* light gray border */
  border-radius: 8px;
  background-color: #f0f5ff; /* bluish tint */
}

h2 {
  color: #2980b9; /* bluish color */
}

p {
  color: #34495e; /* darker bluish color */
}

input[type="number"] {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #cccccc; /* light gray border */
  border-radius: 4px;
}

button {
  padding: 10px 15px;
  cursor: pointer;
  background-color: #3498db; /* bluish button */
  color: #ffffff; /* white text */
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #2980b9; /* slightly darker bluish button on hover */
}
.logo {

  display: inline-block;
  margin-left : 20px;
  margin-right: 400px; /* Adjust as needed */
  vertical-align: middle; /* Align with the text vertically */
}

nav {
  display: inline-block; /* Ensure the navigation stays inline with the logo */
}

/* Rest of your navbar styling goes here */
footer {
  background-color: #3498db; /* bluish background */
  padding: 21px 0;
  text-align: center;
  color: #fff; /* white text */
  margin-bottom: 0%;

}

.qr-code-scanner {
  text-align: center;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 0%;
}

.qr-code-scanner img {
  text-align: center;
  width: 50px;
  height: 50px;
}

.qr-code-scanner p {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0%;
}

